@import './base.css';
@import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');

#app {
  font-family: "Jua", sans-serif;
  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

.card-root {
  display: inline-block;
  margin: 4px;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
  }

  #app {
  }
}
